.navbar {
  background: $brand-primary;
  background: $brand-primary-gradient;
  transition: .25s cubic-bezier(0.64, 0.57, 0.67, 1.53);

  h1 {
    margin: 0;
    line-height: 1;
    font-size: 1.25rem;
    font-weight: 700;
  }

  &-brand {
    font-weight: 700;

    img {
      transition: .25s cubic-bezier(0.64, 0.57, 0.67, 1.53);
    }
  }

  &.navbar-dark a {
    color: $white;
  }

  &-social {
    margin-right: 1rem;

    .nav-item {
      margin: 0.5rem 0;
    }

    a {
      margin: 0 0.5rem;
      opacity: 0.75;
      transition: 0.15s ease-in-out;

      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }

    .fa, .fab {
      font-size: 1.25rem;
    }
  }

  &-languages {
    margin: 1rem 0;
  }
}

.vote-info {
  position: relative;
  background: $gray-lightest;
  padding: 2rem 0;
  overflow: hidden;
  border-bottom: 1px $gray-lighter solid;
  background-image: url('../images/pattern.svg');
  background-size: 633px;
  background-position: center;

  &--alt-header {
    background-image: url('../images/background.jpg');
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      background: linear-gradient(to right, rgba($black, .45), rgba($black, 0));
      display: block;
      top: 0;
      left: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
    }

    h2 {
      color: $white;
      text-shadow: 0 0 15px rgba($black, .5);
    }

    .vote-info__intro {
      color: rgba($white, .85);
    }

    .left-hands,
    .right-hands {
      display: none !important;
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1;
    padding-right: 80px;
    max-width: 730px;
  }

  &__intro {
    padding-right: 80px;
    font-size: 0.9rem;
    max-width: 630px;

    span {
      background: $red;
      color: $white;
      padding: 0.15rem 0.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      border-radius: 0.25rem;
      font-weight: bold;
    }
  }

  &__action {
    margin-top: 2rem;

    a {
      font-size: 1rem;
    }
  }

  .left-hands,
  .right-hands {
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.5;
  }

  .left-hands {
    background: url('../images/hands-left.svg');
    left: -113px;
    display: none;
  }

  .right-hands {
    background: url('../images/hands-right.svg');
    right: -103px;
  }

  &--compact {
    h2 {
      font-size: 1.5rem;
      padding-right: 110px;
    }

    .vote-info__intro {
      display: none;
    }

    .vote-info__action {
      display: none;
    }

    .left-hands,
    .right-hands {
      top: 7px;
      opacity: 0.5;
      width: 200px;
      height: 200px;
    }

    .left-hands {
      left: -74px;
    }

    .right-hands {
      right: -78px;
    }
  }
}

@include media-breakpoint-up(md) {
  .navbar {
    padding-top: .25rem;
    padding-bottom: .25rem;

    &-brand {
      img {
        height: 4.2rem;
      }
    }
  }

  .scrolled {
    .navbar {
      padding-top: 0;
      padding-bottom: 0;

      &-brand img {
        height: 2.75rem;
      }
    }
  }

  .vote-info {
    h2 {
      font-size: 2.75rem;
      margin-bottom: 1rem;
    }

    &__intro {
      font-size: 1rem;
    }

    &__action a {
      font-size: 1.25rem;
    }

    &--compact {
      h2 {
        font-size: 2.5rem;
        padding-right: 0;
      }

      .vote-info__intro {
        font-size: 1rem;
        margin-bottom: 0;
        display: none;
      }
    }
  }
}

.calendar {
  margin-left: auto;
  background: $white;
  overflow: hidden;
  border: 1px rgba(0, 0, 0, 0.15) solid;
  @include border-radius(0.25rem);
  text-align: center;
  width: 8rem;

  &__heading {
    color: $white;
    background: $brand-primary;
    padding: 0.15rem;
  }

  &__dates {
    font-size: 1.35rem;
    background: $white;
    padding: 0.25rem;

    .col {
      padding: 0.5rem;
    }
  }

  &__days {
    margin-bottom: -0.25rem;
  }

  &__month {
    font-size: 1.15rem;
  }

  &__date-columns .col:first-child {
    border-right: 1px rgba(0, 0, 0, 0.15) dashed;
  }
}

@include media-breakpoint-up(lg) {
  .navbar-social {
    .nav-item {
      margin: 0;
    }
  }

  .navbar-languages {
    margin: 0;
  }
}

@media only screen and (min-width: 1400px) {
  .vote-info {
    .left-hands,
    .right-hands {
      opacity: 1;
    }

    .left-hands {
      display: block;
    }
  }
}
